:root {
  --biru-gelap: #164863;
  --biru: #427d9d;
  --putih: #fff;
  --font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: var(--font-family);
  box-sizing: border-box;
}

body {
  background-color: var(--putih);
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 8%;
  z-index: 99;
  position: fixed;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 25%);
  background-color: var(--putih);
}

.navbar-nav {
  padding: 20px 0;
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.navbar-nav {
  margin: 10px 0;
}

.navbar-nav a {
  font-size: 15px;
  font-weight: 700;
  color: var(--biru);
}

.navbar-nav a:hover {
  color: var(--biru-gelap);
}

.navbar-nav a::after {
  content: '';
  transform: scaleX(0);
  display: block;
  padding-bottom: 0.6rem;
  border-bottom: 2px solid var(--biru-gelap);
  transition: 0.2s linear;
}

.navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.color {
  color: var(--biru-gelap);
  border-bottom: 2px solid var(--biru-gelap);
}

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  margin: 25px 0;
  justify-content: space-between;
  position: relative;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(9, 5, 9);
  border-radius: 3px;
  transition: all 0.5s;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -5px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: black;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: black;
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

@media only screen and (max-width: 1185px) {
  .navbar-nav {
    justify-content: space-between;
  }
  .handling-grid {
    width: 90%;
  }
}

@media only screen and (max-width: 748px) {
  .menu-toggle {
    display: flex;
  }
  .navbar-nav {
    position: absolute;
    width: 100%;
    top: -230px;
    left: 0;
    right: 0;
    z-index: -9;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-color: var(--putih);
    transition: all 0.3s;
    opacity: 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 25%);
  }

  .navbar-nav.slide {
    top: 50px;
    opacity: 1;
  }
  .navbar-nav > a {
    width: 50%;
    margin: auto;
    padding-top: 15px;
  }
  @keyframes appear {
    0% {
      opacity: 0;
      translate: 0 10px;
    }
    100% {
      opacity: 1;
      translate: 0;
    }
  }
  .navbar-nav.slide > a {
    opacity: 1;
    animation: appear 1s both;
  }
}
