:root {
  /* color */
  --biru-gelap: #164863;
  --biru: #164863;
  --biru-terang: #9bbec8;
  --putih: #fff;
  --abu-abu: #687780;
  --hitam: #000;
  /* Typography */
  --font-family: 'Poppins', sans-serif;
  --font-bold: 700;
  --font-normal: 200;
  --font-size-title: clamp(30px, 3.5vw, 6rem); /* 55px */
  --font-size-subtitle: clamp(20px, 3.5vw, 4rem); /* 40px */
  --font-size-text: 12px;
  --font-size-small-text: 0.8125rem; /* 13px */
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  list-style: none;
  border: none;
  margin: 0;
  font-family: 'Poppins';
}

/* ///////////////////// */

.main-content {
  flex-grow: 1;
  margin-left: 280px;
  padding-top: 130px;
}

.body-tabel {
  overflow-x: auto;
}
.container-tabel {
  width: 1060px;
}
.borderilang {
  border-collapse: collapse;
  text-align: start;
}

table {
  padding: 40px;
  margin-left: 30px;
  border-collapse: collapse;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 30px;
}

thead {
  background-color: #d0cece;
}

th {
  padding: 5px;
  border-bottom: 1px solid #ddd;
  font-size: var(--font-size-text);
  border: 1px solid black;
  text-align: center;
  font-weight: 700;
}

td {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-size: var(--font-size-text);
  border: 1px solid black;
}

.button {
  border: none;
  cursor: pointer;
  background: none;
}

.pensil {
  margin-right: 10px;
}

.cetak {
  padding: 5px;
}
@media only screen and (max-width: 948px) {
  .main-content {
    padding-left: 0;
    margin: 0 20px;
  }
  table {
    margin-left: 0;
  }
}
