:root {
  /* color */
  --biru-gelap: #164863;
  --biru: #164863;
  --biru-terang: #9bbec8;
  --putih: #fff;
  --abu-abu: #687780;
  --hitam: #000;
  /* Typography */
  --font-family: 'Poppins', sans-serif;
  --font-bold: 700;
  --font-normal: 200;
  --font-size-title: clamp(30px, 3.5vw, 6rem); /* 55px */
  --font-size-subtitle: clamp(20px, 3.5vw, 4rem); /* 40px */
  --font-size-text: clamp(14px, 2.5vw, 1rem);
  --font-size-small-text: 0.8125rem; /* 13px */
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  list-style: none;
  border: none;
  margin: 0;
  font-family: 'Poppins';
  font-family: 'Poppins', sans-serif;
}

/* ///////////////////// */

.main-content {
  flex-grow: 1;
  margin-left: 280px;
  padding-top: 130px;
}

.tambahdata {
  border: 1px solid black;
  width: 130px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: center; /* Memusatkan isi tombol secara horizontal */
  font-weight: bold;
  background-color: #f9f9f9; /* Warna latar belakang */
  margin-bottom: 20px;
}

a {
  text-decoration: none; /* Menghapus garis bawah dari link */
  color: black; /* Warna teks */
}

.table-container {
  overflow-x: auto; /* Aktifkan scrolling horizontal */
  margin-bottom: 20px;
}

.data-table {
  width: 120%; /* Lebar tabel 100% agar memanjang ke kanan */
  border-collapse: collapse; /* Gabungkan border sel pada tabel */
}

td {
  border: 1px solid black; /* Berikan garis border untuk setiap sel */
  padding: 3px;
  text-align: center; /* Arahkan teks ke kiri di dalam sel */
  font-size: xx-small;
}

th {
  font-size: small;
  padding: 5px;
  background-color: #c4c4c4; /* Berikan latar belakang untuk header kolom */
  font-weight: bold; /* Berikan tebal pada teks header */
  text-align: center;
  border: 1px solid black; /* Berikan garis border untuk setiap sel */
  /* Berikan padding untuk ruang di dalam sel */
}

.highlightcolumn {
  background-color: #164863;
  color: #f9f9f9;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  align-items: center;
}

label {
  min-width: 100px;
  font-weight: bold;
}

.nojarak {
  max-width: 30px;
}

a {
  text-decoration: none;
}

.pensil {
  margin-right: 20%;
  text-decoration: none;
}

.simpan {
  background-color: #164863;
  margin-top: 100px;
  display: flex;
  justify-content: end;
  text-align: center;
  border-radius: 5px;
  padding: 15px 25px 15px 25px;
  font-weight: 600;
  border: none;
}

.simpan a {
  color: white;
}
@media only screen and (max-width: 948px) {
  .main-content {
    margin-left: 0;
    padding-left: 0;
  }
}
